<!-- tu_app/templates/tu_app/buscar_productos.html -->
{% extends 'base.html' %}

{% block meta%}
<h2>Buscar Productos</h2>
{% include 'inicio/buscar_productos.html' %}


<form method="get" action="{% url 'Buscar' %}">
    {{ form }}
    <button type="submit">Buscar</button>
</form>

{% if resultados %}
    <h3>Resultados de la búsqueda:</h3>
    <ul>
        {% for producto in resultados %}
            <li>{{ producto.nombre }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron resultados.</p>
{% endif %}

{% endblock meta%}
